body {
    margin: 0;
}

h1 {
    color: red;
}

.box00 {
    width: 1200px;
    margin: 0 auto 0 auto;
    background: #333;
    color: #fff;

}


.box01 {
    background-color: #f00;
    width: 50%;
}

.box02 {
    width: 100%;
    background-color: #ff0;
    margin-left: 100px;
}

.box03 {
    margin-left: 100px;
    background-color: #0f0;

}